@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:linear-gradient(to top, white,#819ac7);
    height: 120px;
    width: 1200px;
    font-size: 35px;
}
.icones{
    height: 220px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container-grid{
    width: 1200px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu a{
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
}
.menu{
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.banner{
    height: 1000px;
    width: 1200px;
    background-image: url(../img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.games{
    height: 50px;
    width: 1200px;
    font-family: 'Tajawal', sans-serif;
}
.games a{
    font-family: 'Tajawal', sans-serif;
    width: 1200px;
    height: 150px;
    text-decoration: none;
    margin: 0;
    font-size: 35px;
    background-image:linear-gradient(to top, white,#819ac7);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.secao-jogos .grid-container img{
    width: 300px;
    height: 300px;
}

.secao-consoles .grid-container img{
    width: 300px;
    height: 300px;
}

.secao-acessorios .grid-container img{
    width: 300px;
    height: 300px;
}

.informacoes-valores{
    justify-content: center;
    text-align: center;
    font-size: 15px;
    height: 50px;
}
.logo-pc{
    height: 750px;
    width: 1200px;
    background-image: url(../img/pcgamer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    background-image:linear-gradient(to top, white,#819ac7);
    width: 1200px;
}
.rodape{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.links h2{
    font-size: 20px;
    text-align: center;
}
.links ul{
    list-style-type: none;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
}
.links img{
    width: 150px;
    height: 150px;
}
.links-footer{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    text-align: center;
}
section{
    background-image:linear-gradient(to bottom, white,#819ac7);
    width: 1200px;
}
.rodape2{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    text-align: center;
}
.rodape2 h2{
    font-size: 20px;
    text-align: center; 
}
.rodape2 img{
    width: 80px;
    height: 70px;
    justify-items: center;
}

.redes-sociais{
    width: 450px;
}

.icones2{
    display: flex;
    justify-content: space-between;
}
.icones2 a{
    text-decoration: none;
    color: black;
}