@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:linear-gradient(to top, white,#819ac7);
    height: 216px;
    width: 1950px;
}
.icones{
    height: 220px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container-grid{
    width: 1950px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.menu a{
    color: black;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
    font-size: 50px;
}
.menu{
    width: 1950px;
    display: flex;
    justify-content: space-between;
}
.banner{
    height: 1000px;
    width: 1950px;
    background-image: url(../img/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.games a{
    font-family: 'Tajawal', sans-serif;
    width: 1950px;
    height: 100%;
    text-decoration: none;
    height: 100%;
    margin: auto;
    font-size: 80px;
    background-image:linear-gradient(to top, white,#819ac7);
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1950px;
}
.informacao-valores{
    justify-content: center;
    align-items: center;
}
.logo-pc{
    height: 1000px;
    width: 1950px;
    background-image: url(../img/image\ 25.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 1950px;
    background-image:linear-gradient(to top,#819ac7, white);
}
.redes-sociais{
    background-image:linear-gradient(to top, white,#819ac7);
    width: 1950px;
}
.texto-redes{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1950px;
    background-image:linear-gradient(to top, white,#819ac7);
}
.rede-social{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1950px;
    background-image:linear-gradient(to top, white,#819ac7);
}